* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8% auto;
  padding: 20px;
  width: 550px;
  height: 450px;
  border: 1px solid black;
}

.form-container h1 {
  margin: 20px 0;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.field {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.field label {
  font-size: 20px;
  margin-right: 10px;
}

.field input {
  width: 100px;
  text-align: center;
  border-radius: 8px;
}

.modal-container p {
  margin: 10px 0;
}

button {
  width: 200px;
  height: 30px;
  margin: 30px auto;
}
